html{
  font-family: Arial;
  background-color: teal;
}
.subtitle{
  font-weight: bold;
}
.tutorial{
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 1px;
  padding: 10px;
  background-color: beige;
 }
.intro{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(252, 228, 231);
  border-style: solid;
  border-color: red;
  border-width: 1px;
  text-align: justify;
  padding: 10px;
  border-radius: 5px;
}
.venn{
  background-color: beige;
}
.detail{
  margin-top: 20px;
  text-align: justify;
  margin-bottom: 0px;
}
.format{
  height: 200px;
  max-width: 100%;
  border-radius: 5px;
}
.links{
  text-align: left;
  display: inline-block;
}
.heading{
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sampleCode{
  margin-top: 10px;
  font-family: "Cascadia Mono";
    width: 50%;
  background-color: rgb(221, 252, 221);
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: green;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom:10px;
}
.steps{
  text-align: left;
}
.sp{
  margin-bottom: 20px;
}
.sub{
  margin-top: 20px;
  list-style-type: lower-alpha;
}
.space{
  margin-top: 20px;
  margin-bottom: 20px;
}